@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?i51vjw");
  src: url("../fonts/icomoon.eot?i51vjw#iefix") format("embedded-opentype"),
    url("../fonts/icomoon.ttf?i51vjw") format("truetype"),
    url("../fonts/icomoon.woff?i51vjw") format("woff"),
    url("../fonts/icomoon.svg?i51vjw#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

* {
  box-sizing: border-box;
  padding: 0;
}

html {
  height: 100vh;
}

body {
  background-color: #81c3d7;
  color: #16425b;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  margin: 0;
}

.header {
  color: #16425b;
  font-size: 1.5rem;
  padding: 20px;
  text-align: center;
}

.main {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 30px;
}

.search {
  display: flex;
  justify-content: space-between;
  position: relative;
}

#country-input {
  color: #16425b;
  float: left;
  height: 42px;
  outline: none;
  width: 245px;
}

#fetch-button {
  background-color: #3a7ca5;
  border-radius: 5px;
  float: left;
  height: 42px;
  width: 50px;
}

#fetch-button::before {
  content: "\e986";
  font-family: "icomoon";
  font-size: 20px;
  left: 261px;
  position: absolute;
  top: 13px;
}

#fetch-button:hover {
  cursor: pointer;
}

#weather-info, #country-info{
  margin-top: -21px;
  text-align: center;
}

.search-input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #16425b;
  background-color: #d9dcd6;
  color: #16425b;
}

.footer {
  padding: 20px;
  text-align: center;
}

@media (min-width:437px)and(max-width: 600px) {
  h1 {
    font-size: 2rem;
  }

  .search {
    margin: 20px auto;
    max-width: 600px;
  }

  .search-input {
    width: auto;
    margin-right: 5px;
  }

   #fetch-button::before{
    left:400px;
    top:15px;
  }

  #country-info{
    padding: 20px;
  }
}

